body {
    background-color: #042940;
}
nav{
    height: 100px;
}

.mainProds{
    box-sizing: 1rem;
    border-radius: 9rem;
    border-spacing: 10px;
}
.botones{
    background-color: #DBF227;
    border-bottom: 10px;
}
.cards{
    width: 250px;
    height: 90px;
}